.headerContainer {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: (5, repeat(1fr));
  grid-template-areas:
    "image image image title title"
    "image image image title title"
    "image image image title title";
}

.image {
  grid-area: image;
  background-color: white;
  /* position: relative; */
  display: block;
}

.title {
  grid-area: title;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
