.headerContainer {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 70vh));
  grid-template-areas:
    "image image title title title"
    "image image title title title"
    "image image title title title";
}

.image {
  grid-area: image;
  background-color: white;
  display: block;
}

.title {
  grid-area: title;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fadeInOne {
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInTwo {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fadeInThree {
  animation: fadeInAnimation ease 12s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .headerContainer {
    font-size: 1.4em;
    height: 185vh;
    width: 125vh;
    font-family: "Poppins", sans-serif;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 100vh));
    grid-template-areas:
      "title title title title title"
      "title title title title title"
      "title title title title title";
  }
}
