.contactContainer {
  font-family: "Poppins", sans-serif;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 70vh));
  grid-template-areas:
    "image image title title title"
    "image image title title title"
    "image image title title title";
}

.image {
  grid-area: image;
  background-color: white;
  display: block;
}

.title {
  grid-area: title;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactGer {
  text-align: center;
  font-weight: 900;
  font-size: 1.1rem;
  line-height: 30px;
}

.contactEng {
  text-align: center;
  line-height: 10px;
}
