.aboutContainer {
  padding: 3em;
  font-family: "Poppins", sans-serif;
  background-color: rgb(215, 225, 213);
  color: black;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 100vh)) 0.2fr;
  grid-template-rows: repeat(5, minmax(150px, 20vh));
  grid-template-areas:
    ". ."
    "wel paraOne"
    "wel paraTwo"
    "wel paraThree"
    ". .";
}

.welcome {
  font-size: 1.2rem;
  grid-area: wel;
  color: rgb(114, 130, 127);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paraOne {
  color: rgb(114, 130, 127);
  grid-area: paraOne;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paraTwo {
  color: rgb(114, 130, 127);
  grid-area: paraTwo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paraThree {
  color: rgb(114, 130, 127);
  grid-area: paraThree;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ger {
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 25px;
  margin: 0 0;
}

.eng {
  font-size: 1rem;
  margin: 8px 0;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .aboutContainer {
    width: 110vh;
    height: 150vh;

    font-family: "Poppins", sans-serif;
    background-color: rgb(215, 225, 213);
    color: black;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 100vh)) 0.4fr;
    grid-template-rows: repeat(6, minmax(150px, 20vh));
    grid-template-areas:
      ". ."
      "wel wel"
      ". ."
      "paraOne paraOne"
      "paraTwo paraTwo"
      "paraThree paraThree";
  }

  .welcome {
    padding-top: 2em;
    font-size: 1.6rem;
    padding-bottom: 3em;
  }

  .ger {
    font-weight: 900;
    font-size: 2rem;
    line-height: 30px;
    margin: 0 0;
  }

  .eng {
    font-size: 1.5rem;
    line-height: 40px;
    margin: 0 0;
  }
}
